/* All HTML TAGS */
body {
  background-color: #363a43;
}

h2 {
  text-align: center;
  color: white;
  font-weight: 700;
  font-size: 100px;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 50px;
}

/* CLASSES */
li {
  text-align: center;
}

.flex-column {
  justify-content: space-between;
}

a .btn {
  align-items: center;
}

.w-50 {
  align-items: center;
}

.navbar-brand {
  font-family: Arial, Helvetica, sans-serif;
}

.footer {
  align-items: center;
}

/* .btn {
  
 
} */

.card {
  background-color: #3d424d;
}

.card-title {
  text-align: center;
  font-weight: 700;
  font-size: 2 rem;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.genre-card {
  background-color: #444b5a;
  color: white;
}

.gameCardInput {
  color: white;
}

.hide {
  display: none;
}

/* ID */
