/* All HTML TAGS */
body {
  background-color: #3d424d;
}

/* CLASSES */
.navbar-brand {
  font-family: Arial, Helvetica, sans-serif;
}

.footer {
  align-items: center;
}

.btn {
  color: white;
  background-color: #3d424d;
  
}

.card {
  background-color: #444b5a;
}

.card-title {
  text-align: center;
  font-weight: 700;
  font-size: 3.25rem;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.genre-card {
  background-color: #444b5a;
  color: white;
}

.gameCardInput {
  color: white;
}

/* ID */
.hide {
    display: none;
}
